# macOS metadata files
.DS_Store
.AppleDouble
.LSOverride

# Folder settings
Icon?
._*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
.venv/
.virtenv/
env/
venv/

# pytest
.cache/

# MyPy
.mypy_cache/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# PEP 582; used by `pipx`
__pypackages__/

# IDE and editor-specific files (PyCharm, VS Code, etc.)
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp
